body {
    font-family: "Roboto", sans-serif;
    color: #383838!important;
}
:root {
    --Blue-color: #564fff;
    --Navy-color: #33415c;
    --Btn-color: #564bff;
    --Orange-color: #ffa847;
    --Red-color: #ff564f;
}
/*Start Components*/
@media (max-width: 576px) {
    .items {
        padding-top: 50px;
    }
}
@media (min-width: 576px) {
    .items {
        padding-top: 60px;
    }
}
@media (min-width: 992px) {
    .items {
        padding-top: 100px;
    }
}
.title {
    color: var(--Blue-color);
    padding-bottom: 5px;
}
.sub-tile {
    padding-bottom: 12px;
}
@media (max-width: 576px) {
    .sub-tile {
        font-size: 26px;
    }
}
@media (min-width: 576px) {
    .sub-tile {
        font-size: 35px;
        line-height: 45px;
    }
}
@media (min-width: 768px) {
    .sub-tile {
        font-size: 48px;
        line-height: 56px;
    }
}
.main-btn {
    height: 50px;
    border: 2px solid;
    z-index: 1;
}
.Classes .main-btn::after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 100%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s;
}
/*End Components*/

/*Start Navbar*/
nav .navbar-brand img {
    height: 30px;
    width: 100px;
}
nav button[class*="navbar-toggler"] {
    width: 30px;
    height: 27px;
    color: var(--Orange-color);
}
nav button[class*="navbar-toggler"]:focus {
    box-shadow: none;
}
nav button[class*="navbar-toggler"] > div {
    height: 3px;
    background-color: var(--Orange-color);
}
nav button[class*="navbar-toggler"] > div:nth-child(2){
    width: 26px;
}
nav button[class*="navbar-toggler"] > div:nth-child(3) {
    width: 23px;
}
nav ul li {
    width: fit-content;
}
nav ul li a {
    color: var(--Navy-color)!important;
}
nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--Blue-color);
    left: 1rem;
    bottom: 0.5rem;
    transition: 0.3s;
}
nav ul li a[class*="active"],
nav ul li a:hover{
    color: var(--Blue-color)!important;
}
nav ul li a:hover::after {
    width: calc(100% - 2rem);
}
nav .btn-close {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    right: 24px;
    background-image: none;
    color: var(--Orange-color)!important;
    border-color: var(--Orange-color)!important;
}
nav .btn-close:focus {
    box-shadow: none;
}
nav .phone {
    background-color: var(--Btn-color);
    box-shadow: 0 6px 12px 0 rgba(17 13 149/ 30%);
    transition: 0.3s;
}
nav .phone:hover,
nav .phone:focus{
    background-color: var(--Blue-color)!important;
    box-shadow: 0 6px 12px 2px rgba(17 13 149/ 30%);
    transform: translateY(-4px);
}
/*End Navbar*/

/*Start Landing*/
.landing .row {
    background-color: var(--Navy-color);
}
.landing .playCircle {
    width: 65px;
    height: 65px;
    color: var(--Orange-color);
    border-color: var(--Orange-color)!important;
}
@media (max-width: 576px) {
    .landing h1 {
        font-size: 36px;
    }
    .landing h1 span {
        font-size: 36px;
    }
}
@media (max-width: 768px) and (min-width: 576px) {
    .landing h1 {
        font-size: 50px;
    }
    .landing h1 span {
        font-size: 48px;
    }
}
@media (min-width: 768px) {
    .landing h1 {
        font-size: 70px;
    }
    .landing h1 span {
        font-size: 48px;
    }
}
.landing .land-btn{
    width: 148px;
    height: 50px;
    z-index: 1;
}
.landing .land-btn > div:empty {
    width: 0;
    background-color: var(--Blue-color);
    border-radius: 0.25rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    z-index: -1;
}
.landing .land-btn > svg {
    transition: 0.3s;
}
.landing .land-btn:hover {
    border-color: var(--Blue-color)!important;
}
.landing .land-btn:hover > div:empty {
    width: 100%;
}
.landing .land-btn:hover > svg {
    transform: translateX(4px);
}
/*End Landing*/

/*Start Work Culture*/
.WorkC .vid {
    background-color: var(--Navy-color);
    padding: 20px;
}
.WorkC .playVideo {
    background-color: var(--Blue-color);
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.WorkC .playVideo:hover {
    background-color: var(--Red-color);
}
.WorkC .ques {
    padding-top: 28px;
}
.WorkC ul li svg {
   color: var(--Blue-color);
}
.WorkC .start {
    color: var(--Red-color);
}
.WorkC .start::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: var(--Red-color);
    left: 0;
    bottom: -4px;
}
/*End Work Culture*/

/*Start Classes*/
@media (max-width: 768px) {
    .Classes .des {
        margin-bottom: 40px;
    }
}
@media (min-width: 768px) {
    .Classes .des {
        margin-bottom: 60px;
    }
}
.Classes img {
    height: 295px;
}
.Classes .card {
    z-index: 1;
}
.Classes .card::before{
    content: "";
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 40px);
    background-color: white;
    z-index: -1;
    transition: 0.3s;
}
.Classes .card:hover::before {
    border: 2px solid var(--Blue-color);
    transform: translate(-1rem, 1rem);
    box-shadow: 0 0rem 3rem rgba(0 0 0/0.175);
}
.Classes .card-body {
    margin-bottom: 40px;
}
.Classes .card-body::before {
    content: attr(price);
    position: absolute;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
    right: 9%;
    top: -24px;
    background-color: var(--Blue-color);
}
.Classes .red-btn {
    color: var(--Red-color)!important;
}
.Classes .red-btn:hover {
    outline: none;
    border: none;
}
.Classes .red-btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--Red-color);
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}
.Classes .red-btn:hover::after {
    width: calc(100% - 15px);
}
.Classes .red-btn svg {
    font-size: 13px;
    transition: 0.3s;
    margin-left: 30px;
}
.Classes .red-btn:hover > svg {
    transform: translateX(-15px);
}
.Classes .main-btn {
    border-color: var(--Navy-color);
}
@media (max-width: 576px){
    .Classes .main-btn {
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 992px){
    .Classes .main-btn {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .Classes .main-btn {
        width: 26%;
    }
}
.Classes .main-btn::after {
    background-color: var(--Navy-color);
}
.Classes .main-btn:hover {
    color: white;
}
.Classes .main-btn:hover::after {
    transform: scale(1);
}
/*End Classes*/