body {
    font-family: "Heboo", sans-serif;
}
:root {
    --Blue-color: #4d41be;
    --Navy-color: #34425d;
    --Btn-color: #564bff;
    --Orange-color: #ffa847;
    --Red-color: #ed5864;

}
/*Start Navbar*/
nav .navbar-brand img {
    height: 40px;
    width: 80px;
}
nav button[class*="navbar-toggler"] {
    border-color: var(--Navy-color);
    color: var(--Navy-color);
}
nav button[class*="navbar-toggler"]:focus {
    box-shadow: none;
}
nav ul li {
    width: fit-content;
}
nav ul li a {
    color: var(--Navy-color)!important;
}
nav ul li a::after {
    content: "";
    position: absolute;
    width: calc(100% - 2rem);
    height: 1px;
    background-color: var(--Blue-color);
    left: 50%;
    bottom: 0.5rem;
    transform: translateX(-50%);
    display: none;
}
nav ul li a[class*="active"],
nav ul li a:hover{
    color: var(--Blue-color)!important;
}
nav ul li a:hover::after {
    display: block;
}
nav .phone {
    background-color: var(--Btn-color);
}
nav .phone:hover {
    background-color: var(--Blue-color);
}
/*End Navbar*/

/*Start Landing*/
.landing {
    height: calc(100vh - 72px);
}
.landing .row {
    background-color: var(--Navy-color);
}
.landing .playCircle {
    width: 40px;
    height: 40px;
    color: var(--Orange-color);
    border-color: var(--Orange-color)!important;
}
.landing .btn {
    font-size: 13px;
}
.landing .apply {
    color: var(--Navy-color)!important;
}
/*End Landing*/

/*Start Work Culture*/
.WorkC video {
    outline: 15px solid var(--Navy-color);
}
.WorkC .playVideo {
    background-color: var(--Blue-color);
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.WorkC h6 {
    color: var(--Blue-color);
}
.WorkC .des {
    font-size: 14px;
}
.WorkC ul li svg {
   color: var(--Blue-color);
    font-size: 13px;
}
.WorkC ul li span {
    font-size: 14px;
}
.WorkC .start {
    color: var(--Red-color);
}
.WorkC .start::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: var(--Red-color);
    left: 0;
    bottom: -4px;
}
/*End Work Culture*/